*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# project files
/Makaroni/.settings/
/Makaroni/bin/
config.json
tokens.json
*.tok
*.dat
src/test/
.idea

# music files
*.mp3
*.aac
*.m4a
*.wav
*.flac
*.ogg

# gradle
/Makaroni/build/
/Makaroni/.gradle/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
