*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# project files
config.json
tokens.json
*.tok
src/test/

# music files
*.mp3
*.aac
*.m4a
*.wav
*.flac
*.ogg

# gradle
/Makaroni/build/
/Makaroni/.gradle/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
