*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# project files
.idea
/bin/
/out/
*.json
*.tok
*.dat
*.iml

# media files
*.mp3
*.aac
*.m4a
*.wav
*.flac
*.ogg
*.png
*.jpg
*.jpeg

# gradle
/build/
.gradle
!gradle/wrapper/gradle-wrapper.jar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
